.UpdateBox{
  height: 500px;
  width: 100%;
  max-width: 1600px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: bisque; */
  margin-top: 20px;
}
#UpdateBox-Container{
  justify-content: space-between;
  max-width: 1600px;

}
#UpdateBox-Container:hover{
 /* box-shadow: 0px 0px 1.5px 1.5px #e1359f; */
 box-shadow: 0px 0px 1.5px 1.5px #d44c2a;

}

#UpdateBox-Writen{
  height: 500px;
  width: 50%;
  /* background-color: rgb(46, 46, 55); */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  color: rgb(219, 57, 32);
  ul,li{
    width: 450px;
    
  }
  img{
    width: 200px;
    margin: 10px;
    opacity: 0.8;
  }
}
#RTMNU-info{
  height: 200px;
  width: 500px;
  /* background-color: #5c355c; */
  display: flex;
  justify-content: center;
  align-items: center;
  ul,li{
    margin: 10px;
    margin-left: 45px;
    color: #aaa6a6;
    font-size: 1.2rem;
  }
}
.ImageCard{
   height: 120px;
   width: 250px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   background: linear-gradient(135deg, #2a6d54b6 0%, #6226069f 80%);
   color: rgb(148, 146, 146);
   --border-size:0.1rem;
   border: var(--border-size) solid transparent;
   animation: rotate 4s linear infinite, opacityChange 3s infinite alternate;
   border-image: conic-gradient(
      from var(--angle),
      #1b584c 0deg 90deg,
      #296558 90deg 180deg,
      #793c24 180deg 270deg,
      #612f1a 270deg 360deg
    )
    1 stretch;
  /* background: rgb(255 255 255 / var(--opacity)); */
}
@property --opacity {
  syntax: "<number>";
  initial-value: 0.5;
  inherits: false;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}


@keyframes opacityChange {
  to {
    --opacity: 1;
  }
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}
.updateBox-ImageCard{
 height: 470px;
 width: 100%;
 /* display: flex;
 align-items: center;
 justify-content: center; */

#UpdateBox-Card{
   height: 500px;
   width: 100%;
   /* background-color: #296558; */
   grid-template-columns: 50% 50%;
   display: grid;
   place-content: center;
   gap: 20px;
   margin-left: 70px;
   --angle:45deg;
   --opacity:0.5;
  
  h4 {
    font-size: clamp(20px, 5vw,36px);
    color: #c7b5b5;
    font-size: 1.5rem;
  }
 }
}

/* media query */
@media only screen and (max-width: 700px){
 .UpdateBox{
     height: 950px;
     #UpdateBox-Container{
      box-shadow: 0px 0px 1.5px 1.5px #d44c2a;
      height: 950px;
      #UpdateBox-Writen{
         height:150px;
         img{
         width: 130px;
         }
         h2{
         width: 310px;
         font-size: 20px;
         }
         #RTMNU-info{
          ul,li{
              display: none;
            }
          }
        }
     }
     .updateBox-ImageCard{
         height: 630px;
         width: 100%;
         align-items: center;
         justify-content: center;
      }
      #UpdateBox-Card{
         grid-template-columns: 100%;
         width: 60%;
         h4{
          font-size: clamp(15px, 4vw,20px);
         }
       }
    }
    .ImageCard{
        height: 100px;
        margin-top: 0px;
        font-size: 1.2rem;
    }
}