*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #2d2d2d;  */
  background-color: black;
  height: 380vh;
}

 /* SlideNav styling */
 
section{
  display: flex;
  flex-direction: row;
  max-width: 1550px;
  width: 100%;
  max-width: 1600px;
  /* background-color: aliceblue; */
}
.slide{
  width: 100%;
  height: 30px;
  max-width: 1600px;
  /* background-color: rgb(37, 43, 42); */
  background-color: rgba(80, 79, 79, 0.482);
  color: #329686;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.slideNav{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   width: 90%;
   height: 30px;
   overflow-x: auto;
   overflow-y: hidden;
   scrollbar-width: none;
   white-space: nowrap;
   cursor: pointer;
   /* background-color: rosybrown; */
   /* position:absolute; */

   ul{
    margin-left: 785px;
   }
  
   ul,li {
     width: 100%;
     font-size: 1.2rem;
     /* font-family: "Segoe UI", sans-serif; */
     font-family: 'Poppins', sans-serif;
     font-weight:400;
     gap: 30px;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     margin-right: 0px;
   }
}

             /* IntroBox Style */
.Intro{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  max-width: 1600px;

  
}
.IntroBox,#UpdateBox-Container{
  width: 80%;
  height: 500px;
  background-color: rgb(17, 18, 18);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 14px;
}
.IntroBox:hover{
    box-shadow: 0px 0px 1.5px 1.5px #329686;
}
#IntroBox-Text{
  height: 450px;
  width: 50%;
  /* background-color: rgb(92, 84, 76); */
  display: flex;
  flex-direction: column;
  align-items:baseline;
  h4{
    width: 600px;
    margin-top: 50px;
    font-weight: bolder;
    font-size: 2.3rem;
    color: #ffffff;
  }
  h3{
    /* width: 515px; */
    width: 330px;
    font-weight: bolder;
    font-size: 1.5rem;
    margin-top: 10px;
    margin-left: 80px;
    color: #aaa6a6;
  }
  p{
    margin-top: 15px;
    font-size:large;
    width: 340px;
    color: #aaa6a6;

  }
  
  span{
    color: #329686;
  }
  .button-normal{
    margin: 10px;
  }
}
#IntroBox-Image{
  height: 450px;
  width: 50%;
  display: flex;
  justify-content: center;
}

.button-normal{
  height: 45px;
  width: 110px;
  background-color: #14695b;
  border-radius: 18px;
  border: 3px solid #14695b ;
}

/* UpdateBox style */

.heading-Container{
  height: 500px;
  width: 100%;
  max-width: 1600px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: bisque; */
  margin-top: 20px;
}

 /* Margin Line Style */

.marginLine{
  height: 50px;
  width: 100%;
  /* background-color: #191a1a; */
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.leftMargin,.rightMargin{
  height: 4px;
  width: 250px;
  margin:  1px;
  background-image: linear-gradient(to right, rgba(255,0,0,0), #329686);
  border-radius: 5px 0px 0px 5px;
}
.rightMargin{
  background-image: linear-gradient(to left, rgba(255,0,0,0), #329686);
  border-radius: 0px 5px 5px 0px;
}
.circle{
  height: 10px;
  width: 10px;
  background-color: #329686;
  transform: rotate(45deg);
  margin: 0 10px;
}
       /* Heading style EXPLORE */

 .heading-Container{
  height: 50px;
  width: 100%;
  font-size: 2.5rem;
  /* background-color: bisque; */
  margin: 0;
  color: rgb(87, 84, 84);
 }       


            


















































































@media only screen and (max-width: 700px){

  .slide{
    width: 100%;
    ul{
      margin-left:  1650px;
    }
  }
  .Intro{
    height: 660px;
    .IntroBox{
      height: 650px;
      display: flex;
      flex-direction: column;
      box-shadow: 0px 0px 1.5px 1.5px #329686;

    }
    #IntroBox-Text{
      display: flex;
      align-items: center;
     h4{
      width: 250px;
      font-size: 30px;
     }
     h3{
      font-size: 20px;
     }
     p{
      font-size: 15px;
      width: 250px;
     }
    }
    #IntroBox-Image{
      img{
        width: 250px;
      }
    }
  }
  .ImageCard{
     height: 100px;
     width: 170px;
     display: flex;
  }
  .UpdateBox{
     height: 800px;
     #UpdateBox-Container{
      height: 800px;
      display: flex;
      flex-direction: column;
      
      #UpdateBox-Writen{
         display: flex;
         height: 40%;
        img{
        width: 130px;
       }
       h2{
        width: 310px;
        font-size: 20px;
        }
        #RTMNU-info{
          height: 200px;
          width: 385px;
          display: flex;
          align-items: center;
          ul,li{
            width: 450px;
             font-size: clamp(15px, 2.5vw,20px);}
          }
        }
      }
      #UpdateBox-Card{
         height: 500px;
         width: 100%;
         margin:0;
         grid-template-columns: 45% 45%;
         display: grid;
         place-items: center;
         justify-content: center;
         h4{
          font-size: clamp(15px, 4vw,20px);
         }
       }

    }
}
